<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wattpadclone">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WattpadClone">
        <activity android:name=".thembanbe.thembanbe">

        </activity>
        <activity android:name=".Base.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.Account.AccountActivity" />
        <activity android:name=".Chung.ActivityBookDetails" />
        <activity android:name=".Search.SearchListActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".Base.LogInActivity" />
        <activity android:name=".Base.SignUpActivity"/>
        <activity android:name=".Home.Account.Thietlap.thiet_lap_chung" />
        <activity android:name=".Home.Account.Thietlap.ThietLapTaiKhoan" />
        <activity android:name=".Home.Account.Thietlap.ThietLapThongBao"/>
    </application>

</manifest>