<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wattpadclone">
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WattpadClone">
        <activity android:name=".Home.Account"></activity>
        <activity android:name=".Search.Search" />
        <activity android:name=".Library.Library" />
        <activity android:name=".lv_topic"
            android:parentActivityName=".Library.Library">
        </activity>
        <activity android:name=".Search.one"/>
        <activity android:name=".Search.two"/>
        <activity android:name=".Bell.Bell"/>
        <activity android:name=".Chung.Detail"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>